<div class="container-fluid">
  <div class="row">
    <div class=".col-12 .col-sm-12 .col-md-4 .col-lg-4 col-xl-4 offset-md-4 offset-lg-4 offset-xl-4">
      <h1>Itineraries#index</h1>
      <p>Find me in app/views/itineraries/index.html.erb</p>
      <div class="map-box-container">
        <p>here the map</p>
      </div>
      <div class="results-itineraries-container">
        <p>Suggérés</p>
        <div class="itinerary-card">
          <div class="subway-line">
            <p><span>1</span><span>2</span></p>
          </div>
          <div class="time">
            <p><span>51</span><span>min</span>
          </div>
          <div class="waiting">
            <p>dans <span>0</span>, <span>5</span> min de parmentier</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
