// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$dark-gray: #303030;
$darker-gray: #282828;
$light-gray: #F4F4F4;
$slider-hover: #ff6e40;


/* HSL */
$color1: hsla(281%, 72%, 40%, 1);
$color2: hsla(218%, 74%, 50%, 1);
$color3: hsla(183%, 72%, 40%, 1);
$color4: hsla(346%, 99%, 54%, 1);
$color5: hsla(320%, 71%, 50%, 1);
/* RGB */
$btn-large: rgba(129, 29, 176, 1);
$btn-small: rgba(33, 102, 221, 1);
$btn-medium: rgba(29, 168, 176, 1);
$header: rgba(254, 20, 76, 1);
$optional: rgba(218, 38, 157, 1);
