  <footer class="footer">
    <div class="d-flex p-2 bd-highlight">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="d-flex justify-content-around icons">
              <a class="icon js-scrollTo" id="foot-one" href="#itineraire"><i class="fas fa-crosshairs"></i></a>
              <a class="icon js-scrollTo" id="foot-two" href="#marche"><%= image_tag("person-walking1.png", 'data-icon' => image_path('person-walking1.png'), 'data-icon-active' => image_path('person-walking3.png'))%></a>
              <a class="icon js-scrollTo" id="foot-three" href="#escaliers"><%= image_tag("stairs.png", 'data-icon' => image_path('stairs.png'), 'data-icon-active' => image_path('ascending-stairs-signal2.png'))%></a>

              <a class="icon js-scrollTo" id="foot-four" href="#escalators"><%= image_tag("upwards-escalator1.png", 'data-icon' => image_path('upwards-escalator1.png'), 'data-icon-active' => image_path('upwards-escalator3.png'))%></a>
              <a class="icon js-scrollTo" id="foot-five" href="#correspondances"><%= image_tag("business-affiliate-network1.png", 'data-icon' => image_path('business-affiliate-network1.png'), 'data-icon-active' => image_path('business-affiliate-network3.png'))%></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer>

