  <footer class="footer">
    <div class="d-flex p-2 bd-highlight">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="d-flex justify-content-around icons">
              <a class="icon js-scrollTo" id="foot-one" href="#itineraire"><i class="fas fa-crosshairs"></i></a>
              <a class="icon js-scrollTo" id="foot-two" href="#marche"><%= image_tag("person-walking (1).png")%></a>
              <a class="icon js-scrollTo" id="foot-three" href="#escaliers"><%= image_tag("stairs.png")%></a>
              <a class="icon js-scrollTo" id="foot-four" href="#correspondances"><%= image_tag("business-affiliate-network (1).png")%></a>
              <a class="icon js-scrollTo" id="foot-five" href="#escalators"><%= image_tag("upwards-escalator (1).png")%></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer>

