.btn-custom {
  min-height: 44px;
  font-size: 1.5em;
}

.btn-results {
  color: white;
  min-height: 44px;
  padding: 12px 60px;
  border: 1px solid transparent;
  border-radius: 50px;
  //background: #fe144c;
  background-image: linear-gradient(to right bottom, #fe144c, #f11348, #e41244, #d81140, #cb103c);
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.25);
  transition: background 0.3s ease;
  font-size: 17px;
  font-weight: 600;
  font-family: $body-font;
  //line-height: 17px;
  justify-content: center;
  //border: 2px solid #fe144c;
  cursor: pointer;
  text-align: center;
}

a:hover {
  color: white;
  text-decoration: none;
}

.btn-square-small {
  background-image: linear-gradient(to right bottom, #56ccf2, #25bbf5, #00a9f6, #0096f4, #2f80ed);
}

.btn-square-medium {
  background-image: linear-gradient(to right bottom, #00b09b, #24b98b, #4bc075, #70c65b, #96c93d);
}

.btn-square-large {
  background-image: linear-gradient(to right bottom, #9a5adb, #c752c2, #e253a7, #f05d8f, #f46e7b);
}

.btn-whatever {
  //background-image: linear-gradient(to right bottom, #4e4e4e, #6a6a6a, #878787, #a5a5a5, #c4c4c4);
  background-image: linear-gradient(to right bottom, #363636, #444444, #535353, #626262, #717171);
}

.btn-square-survey {
  width: 100px !important;
  height: 100px !important;
  border-radius: 10px;
  margin: 20px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.25);
  color: white;
  font-family: "Lexend Deca", "Raleway", "Helvetica", "sans-serif";
  font-size: 22px;
  font-weight: 700;
  padding: 12px 20px;
  cursor: pointer;
}

label[for="escalator_false"], label[for="escalator_true"],
label[for="poi_false"], label[for="poi_true"] {
  position: relative;
  border-radius: 10px !important;
}

label[for="escalator_false"]:before, label[for="escalator_true"]:before,
label[for="poi_false"]:before, label[for="poi_true"]:before {
  font-family: 'Font Awesome\ 5 Free';
  font-weight: 900;
  border-radius: 10px;
  position: absolute;
  font-size: 30px;
}

label[for="escalator_false"]:before ,
label[for="poi_false"]:before{
  content: "\f00d";
}

label[for="escalator_true"]:before ,
label[for="poi_true"]:before {
  content: "\f00c";
}

label[for="escalator_false"] ,
label[for="poi_false"] {
  //background: #fe1414 !important;
  background-image: linear-gradient(to right bottom, #d81111, #e11212, #eb1313, #f41313, #fe1414) !important;
}

label[for="escalator_true"] ,
label[for="poi_true"] {
  background-image: linear-gradient(to right bottom, #217d3f, #258a46, #28984d, #2ca554, #30b35b);
  // background: #30b35b !important;
}

.btn-progress {

}

#buttonBar {
  width:320px;
}

.btn-survey {
  display: block;
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  background-image: linear-gradient(to right bottom, #fe144c, #f11348, #e41244, #d81140, #cb103c);
  transition: background 0.3s ease;
  text-decoration: none;
  text-align: center;
}

.btn-survey:hover {
  color: white;
  text-decoration: none;
}

