.icon {
  border-radius: 50%;
  background-color: white;
  padding: 5px;
  width: 32px !important;
  height: 32px !important;
  border: 5px solid white;
  position: relative;
}

.icon img {
  height: 22px;
  position: absolute;
  top: 2px;
  left: 0px;


}

.icon i {
  color: black;
  font-size: 18px;
  position: absolute;
  top: 2px;
  left: 3px;
}




.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50px;
    background-color: #FE144C;
    color: #FFFFFF;
    justify-content: space-between;
}
