.row.row-a0 {
  margin: 0 !important;
}


.form-wrapper {
  display: flex;
  width: 100%;
  padding: 3px;
  justify-content: center;
  flex-direction: column;
}

.form-container {
  padding: 20px 0;
  align-items: center;
  justify-content: center;
  text-align: center;
  opacity: 1;
  width: 100%;
  margin: auto;
  //margin-top: 20px !important;
  // display: flex;
  flex-wrap: wrap;
}

label img {
  width: 64px !important;
  height: auto;
}

.search-form-item {
  display: flex;
  align-items: center;
  justify-content: center;

  height: 100vh;
  //padding-top: 100px;

  h2 {
    color: black;
    font-size: 24px;
    text-align: center;
    font-weight: lighter;
  }

  .search-location{

      .form-group {
        &:last-of-type {
          .algolia-places {
              display: none;
            .ap-input-icon.ap-icon-pin{
              display: none;
            }
          }
        }

      }
      input {
        min-height: 50px;
        border-radius: 5px;
        padding-right: 40px;
        border-radius: 10px;
        border-color:#343a40;
      }

      label, small {
        display: none;
      }
  }
}

.radio-flex {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.search-margin {
  margin-top: 100px;
  justify-content: center;
  text-align: center;
  padding: 0 5px;
  font-size: 120px;

}

.search-margin img {
  border-radius: 50%;
  width: 30%;
}


.search-form-item input[type='radio'] {
  display: none;
}

.container-form {
  padding: 24px;
}


.marches {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  flex-wrap: wrap;
}

.picto-item {
  border-radius: 50% !important;
  cursor: pointer;
}


// selected options

.form-container input[type=radio]:checked+label {
  border: 5px solid #7acec2;
}


.ap-input-icon svg {
  fill: #fe144c;
}

.btn-div input[type=radio]:checked+label {
  border: 5px solid $header;
  background: white;
  color: $header;
  font-weight: 700;

}




