.form-itinerary.card-product{

    padding-top:30px;
    padding-left: 20px;
    padding-right: 20px;
    justify-content: center;
    height:100vh;
    align-items: flex-start;

    form{
      min-width:90%;
      .form-group {
        &:last-of-type {
          .algolia-places {
              display: none;
            .ap-input-icon.ap-icon-pin{
              display: none;
            }
          }
        }

      }
      input {
        min-height: 50px;
        border-radius: 5px;
      }
    }

    label, small {
      display: none;
    }
}

.search_location {
  background: white;
  margin: 10px auto;
  border-radius: 12px;
  padding: (5px * 2);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}



.search_adekwat {
  background: white;
  max-width: 400px;
  margin: 20px auto;
  border-radius: 12px;
  box-sizing: border-box;
  padding: (24px * 2);
  text-align: center;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.search_adekwat h6 {
  font-family:$body-font;
  font-size: 20px;
  font-weight: 700;
  text-align: center;
}

.value_output {
  font-family: $number-font;
  font-size: 30px;
  background: transparent;
  border: transparent;
  width: 100%;
  text-align: center;
}



input[type="range"].custom-slider {
  -webkit-appearance: none;
  width: 100%;
  height: 100%;
  background: transparent;

  &:focus {
    outline: none;
  }

  //WEBKIT
  &::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background: #ffffff;
    margin-top: -5px;
    box-shadow: 1px 1px 2px rgba(#000, 0.5);

    cursor: pointer;

  }

  &::-webkit-slider-runnable-track {
    width: 60%;
    height: 9px;
    background: #bdbdbd;
    border-radius: 3rem;

    transition: all 0.5s;
    cursor: pointer;
  }

  &:hover::-webkit-slider-runnable-track {
    background: $slider-hover;
  }

  // IE

  &::-ms-track {
    width: 60%;
    cursor: pointer;
    height: 9px;

    transition: all 0.5s;
    /* Hides the slider so custom styles can be added */
    background: transparent;
    border-color: transparent;
    color: transparent;
  }

  &::-ms-thumb {
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background: #ffffff;
    margin-top: -5px;
    box-shadow: 1px 1px 2px rgba(#000, 0.5);

    cursor: pointer;
  }

  &::-ms-fill-lower {
    background: #bdbdbd;
    border-radius: 3rem;
  }
  &:focus::-ms-fill-lower {
    background: $slider-hover;
  }
  &::-ms-fill-upper {
    background: #bdbdbd;
    border-radius: 3rem;
  }
  &:focus::-ms-fill-upper {
    background: $slider-hover;
  }

  //FIREFOX
  &::-moz-range-thumb {
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background: #ffffff;
    margin-top: -5px;
    box-shadow: 1px 1px 2px rgba(#000, 0.5);

    cursor: pointer;
  }

  &::-moz-range-track {
    width: 60%;
    height: 9px;
    background: #bdbdbd;
    border-radius: 3rem;

    transition: all 0.5s;
    cursor: pointer;
  }
  &:hover::-moz-range-track {
    background: $slider-hover;
  }
}

// checkbox design
.escalator-choices {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.escalator-choice {

  &:hover {
    opacity: 1;
    cursor: pointer;
  }
  &.active {
  border: 3px solid red;
  }
}

// toggle



.div-toggle {
  height: 100px;
  width: 200px;
  background: rgba(43, 43, 43, 1);
  position: relative;
  // top: calc(20vh - 50px);
  // left: calc(25vw - 100px);
  box-shadow: 0 0 2px rgba(43,43,43,1);

}

.form-itinerary .collection_radio_buttons {
  height: 80px;
  width: 80px;
  background: rgba(255, 255, 255, 1);
  position: absolute;
  top: 10px;
  left: 10px;
  cursor: pointer;
  display: inline-block !important;
}

.collection_radio_buttons::before {
  content: '';
  height: 60px;
  width: 5px;
  position: absolute;
  top: calc(50% - 30px);
  left: calc(50% - 2.5px);
  transform: rotate(45deg);
}

.collection_radio_buttons::after {
  content: '';
  height: 5px;
  width: 60px;
  position: absolute;
  top: calc(50% - 2.5px);
  left: calc(50% - 30px);
  transform: rotate(45deg);
}

.collection_radio_buttons::before,
.collection_radio_buttons::after{
  background: rgba(43,43,43,1);
  border-radius: 5px;
}

// input[type="checkbox"] {
  // display: none;
// }

input[type="checkbox"]:checked ~ div .collection_radio_buttons::before{
  height: 50px;
  top: calc(55% - 25px);
  left: calc(60% - 2.5px);
  background: rgba(73,168,68,1);
}
input[type="checkbox"]:checked ~ div .collection_radio_buttons::after{
  width: 20px;
  top: calc(95% - 25px);
  left: calc(22.5% - 2.5px);
  background: rgba(73,168,68,1);
}

input[type="checkbox"]:checked ~ div {
  background: rgba(73,168,68,1);
  box-shadow: 0 0 2px rgba(73,168,68,1);
}

input[type="checkbox"]:checked ~ div .collection_radio_buttons {
  left: 110px;
  transform: rotate(360deg);
}


/*shared*/

.div-toggle,
.collection_radio_buttons {
  border-radius: 50px;
}

.form-itinerary a {
    color: rgba(43,43,43,1);
    text-decoration: none;
    padding: 10px;
    border-bottom: 2px solid rgba(43,43,43,1);
}

.form-itinerary a:hover {
  background: rgba(43,43,43,1);
  color: rgba(255,255,255,1);
}

.collection_radio_buttons,
.collection_radio_buttons::before,
.collection_radio_buttons::after {
  transition: 400ms all ease-in-out 50ms;
  box-sizing: border-box;
  backface-visibility: hidden;
}
