.results-itineraries-container {

  background: $light-gray;

  .itinerary-card {
    position: relative;
    display: flex;
    //box-shadow: 0 0 15px rgba(0,0,0,0.2);
    overflow: hidden;
    height: 120px;
    padding: 3px;
    background: white;
    border:1px solid #e0dede;
    //border-top:1px solid #e0dede;
    //border-bottom:1px solid #e0dede;

    .subway-line {
      display: flex;
      .number {
        display: flex;
        align-items: center;
        justify-content: center;
        width:25px;
        height:25px;
        margin-right: 10px;
        border-radius: 50%;
        font-weight: bold;
        &.one {
          background-color: yellow;
        }
        &.two{
          background-color: blue;
          color: white;
        }
      }
      .rer{
        padding: 0 5px;
        border-radius: 0;
        width: 50px;
        text-align: center;
        font-size: 12px;
      }
      .tram{
        padding: 0 5px;
        border-radius: 0;
        width: 30px;
        font-size: 12px;
        text-align: center;
      }
    }

    .time {
      position: absolute;
      top: 10px;
      right: 10px;
    }

    .waiting {
      position: absolute;
      bottom: 10px;
      left: 10px;
      p{
        margin: 0;
      }
    }
  }
}

.itinerary-border-0 {
  border-left-color: red !important;
  border-left-width: 10px !important;
}

.itinerary-border-1 {
  border-left-color: green !important;
  border-left-width: 10px !important;
}

.itinerary-border-2 {
  border-left-color: blue !important;
  border-left-width: 10px !important;
}

.itinerary-border-3 {
  border-left-color: orange !important;
  border-left-width: 10px !important;
}
