.container-fluid {
  padding-left: 0;
  padding-right: 0;
  &.push-content {
    padding-top: 155px;
    //overflow: scroll;
    margin-bottom: 100px;
  }
}

.col-12 {
  padding-left: 0!important;
  padding-right: 0!important;
}
