.container-fluid {
  padding-left: 0;
  padding-right: 0;
  &.push-content {
    //padding-top: 75px;
    //overflow: scroll;
    margin-bottom: 100px;
  }
  .content-wrapper {
    width: 80%;
  }
  .screen-one, .scree-two, .screen-three, .screen-four, .screen-five  {
    height: 100vh;

  }


  .screen-one {
    // background-color: blue;
    //border: 1px dashed blue;
  }

  .screen-two {
    // background-color: white;
    //border: 1px dashed white;
  }

  .screen-three {
    // background-color: red;
    //border: 1px dashed red;
  }

  .screen-four {
    // background-color: black;
    //border: 1px dashed black;
  }

  .screen-five {
    // background-color: yellow;
    //border: 1px dashed yellow;
  }

  .profile-info-wrapper {
    width: 90%;
    margin: auto;
  }

}

.col-12 {
  padding-left: 0!important;
  padding-right: 0!important;
}
