.title-sz-1 {
  width: 90%;
  margin: auto;
  font-size: 26px;
  font-weight: 500;
}

.title-sz-2 {
  width: 90%;
  margin: auto;
  font-size: 22px;
  font-weight: 500;
}

.title-sz-3 {
  width: 90%;
  margin: auto;
  font-size: 18px;
  font-weight: 500;
}
